body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #2e2f42;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-blue {
    color: #4d5ae5;
}

.header-menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-addres-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-addres-link:hover,
.header-addres-link:focus {
    color: #404bbf;
}